*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-main: #0C4B4B;
    --clr-sec: #553900;
}

h1{
    font-family: sans-serif;
    text-align: center;
    margin: 5% auto;
    color: #0C4B4B
}
